div.test {
  min-height: 50vh !important;
  position: relative;
  height: 100vh; }

.header .logo--text, .header--left .header-menu a {
  font-weight: 800; }

.header {
  position: fixed;
  width: 100%;
  z-index: 11111; }

.section--1519989692339 {
  background: #F3A83C !important; }

.section--1520010120280 {
  background: #F3A83C !important; }

.section--feature h4 {
  color: #ff5b00 !important; }

.section--1519989692339 .container {
  max-width: 100%; }

.section--1519822124177 {
  background: rgba(0, 0, 0, 0) !important; }

.mystyle1 {
  transition: 0.4s;
  display: inline-block; }

.header-menu {
  padding-right: 30px; }

.mystyle1 {
  transition: 0.4s;
  padding: 0px !important; }

.mystyle1:hover {
  transform: scale(1.1);
  z-index: 11; }
  .mystyle1:hover .overlay-text {
    background: white;
    color: black; }

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  width: 200px;
  border-radius: 10px;
  border: 4px solid white;
  height: 62px;
  line-height: 54px;
  margin-left: -101px;
  margin-top: -34px;
  padding: 0 !important;
  font-size: 15px;
  font-weight: bold;
  font-family: "Arvo", Helvetica !important;
  color: white; }

.overlay-text-button {
  position: absolute;
  top: 32%;
  left: 39%;
  z-index: 2;
  display: block;
  border: 4px solid #ffffff;
  font-size: 56px;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 0px 18px 1px 29px !important;
  text-align: center;
  transition: 0.7s; }

.block--1520064920837_0 {
  transition: all .15s ease;
  transform: translate3d(9%, -9%, 0px); }

.block--1520064962327 {
  transition: all .15s ease;
  transform: translate3d(-4%, -7%, 84px); }

/*--Buttons--*/
a.btn {
  border-radius: 10px; }

button#form-button {
  border-radius: 10px; }

button#form-button.btn.btn--.btn-form {
  border-radius: 10px !important; }

form input.form-control:not([type=checkbox]):not([type=radio]) {
  border-radius: 5px !important; }

/*form button below slider*/
button#form-button.btn--sections_1523388887674_blocks_1523388909777_settings_btn_text.btn--solid {
  background: #812165 !important;
  border-color: #812165 !important; }

.btn--sections_1520004508697_blocks_1520004595002_settings_btn_text.btn--solid {
  background: #812165 !important;
  border-color: #812165 !important; }

.cb-slideshow .slide {
  min-height: 100vh !important;
  background-size: cover !important; }

.cb-slideshow .slide .div a {
  border-radius: 10px;
  font-family: "Arvo" !important;
  text-transform: Capitalize; }

.mystyle1:hover .overlay-text {
  background-color: #ff5b00 !important;
  color: #ffffff !important;
  border: 4px solid #ff5b00 !important; }

.section--1523314549535 {
  background: rgba(0, 0, 0, 0) !important; }

span.headline {
  font-size: 40px; }

.body-text {
  font-size: 24px; }

.cb-slideshow .slide .div h3 {
  line-height: 100% !important; }

div.slider-header {
  font-family: 'Arvo';
  line-height: 180%;
  letter-spacing: -1.25px; }

/*controls the slider text*/
.text-xs-left {
  text-align: center !important; }

/*footer*/
.b-bottom {
  border-bottom: 0px solid #ffffff !important; }

.b-top {
  border-top: 0px solid #ffffff !important; }

.cta-taxt {
  font-family: 'Arvo';
  font-size: 27px;
  line-height: 120%;
  padding-bottom: 25px; }

.footer-button {
  border-radius: 20px; }

.footer-link {
  border-radius: 15px;
  margin-bottom: 20px !important; }

@media only screen and (max-width: 767px) {
  .header {
    background: rgba(0, 0, 0, 0.62) !important;
    position: absolute;
    padding: 0px; }

  .header .header-ham {
    top: 14px !important; }

  .col-md-5.block--1520059905544 {
    background-color: rgba(255, 255, 255, 0.4) !important; }

  .form-text p {
    margin: 0;
    font-size: 15px !important;
    line-height: normal !important; }

  .form-text h2 {
    font-size: 17px;
    margin: 0; }

  .slider-header {
    font-size: 21px; } }
@media screen and (max-width: 767px) {
  .form_text_banner p {
    font-size: 16px; } }
#iframe {
  height: 110px; }

@media screen and (max-width: 900px) {
  #iframe {
    height: 198px; } }
.logo--image img {
  transition: 0.4s; }

.section--1523294496876 .container, .section--1523294619645 .container {
  padding: 0;
  max-width: 100%; }
  .section--1523294496876 .container .col-md-12, .section--1523294619645 .container .col-md-12 {
    padding: 0; }

footer.footer.footer--dark.footer--left::before {
  content: '';
  width: 100%;
  height: 10px;
  background: url(https://s3.amazonaws.com/kajabi-storefronts-production/sites/26690/images/EZiKjYyBTBOJdojD6Qbm_Untitled-ccc1_copy.png);
  position: absolute;
  top: -8px;
  background-size: 18px;
  left: 0; }

.footer {
  position: relative; }

.header .container {
  max-width: 100%;
  padding: 0 !important; }

.block--1524293002120 {
  background: url(https://s3.amazonaws.com/kajabi-storefronts-production/sites/26690/images/yh7aKoCITVaAsBZNGF6c_AZjKoJzUQlyEk0mBYBZe_Untitled-1_copy.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 12px 34px;
  margin-bottom: 143px; }

p.p1 {
  font-size: 16px; }

.block--1524293002120 ul {
  padding: 0px 10px; }

.block--1524293002120 li {
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 0px 39px;
  list-style: none;
  background-position: 1px 1px;
  padding-right: 0;
  background-image: url(https://s3.amazonaws.com/kajabi-storefronts-production/themes/534228/settings_images/NEVsWOSce0tGiUnqrjEA_New_Project_2_1.png); }

.pop_up_content input#form_submission_email {
  margin-top: 10px;
  margin-bottom: 10px; }
